@font-face {
    font-family: 'voyager';
    src: url("/fonts/Voyager_Light.otf");
}

:root {
    --primaryFont: 'voyager', 'Courier New', monospace, verdana, sans-serif;
}


.projects {
    background-image: url("/imgs/home.jpg");
    display:flex;
    flex:1;
    flex-direction: column;
    font-family: var(--primaryFont);
    color: #edf6f9;
    align-items: center;
    overflow: auto;
}

/* Header */
.projects-header {
    font-size: 40px;
    margin-top: 50px;
    animation: slideIn 1s ease forwards;
    text-align: center;
}

.projects-note {
    font-size: 0.8rem;
    color: #4ccaf0;
    font-family: sans-serif;
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(0px) scale(0.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}
.my {
   
    color: #4ccaf0d0;
}

/* Projects */

.projects-container {
    width: 100%;
    display:flex;   
    margin:40px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1500px;
}

.projects-myProjects {
    border:5px solid darkgrey;
    border-radius: 10px;
    /* box-shadow: 3px 3px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 400px;
    margin:40px 20px;
    text-decoration: none;
    color: white;
   
}

.projects-image--container {
    position:relative;
}
.project-link {
    display:none;
    position:absolute;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    cursor: pointer;
    top:0;
} 


.projects-image--container:hover .project-link { 
    display: flex;
    
}

.icons-project {
    height:70px;
    margin-top: 100px;
    background-color: #dddddd;
    border-radius: 50%;
}


.projects-image {
    width: 100%;
    
}

.projects-title {
    display: flex;
    flex-direction: column;
    color: #edf6f9;
    text-align: center;
    width: 100%;
    height: 82px;
}

.project-name {
    font-size: 23px;
    margin: 1.3rem 0 0.2rem 0;

}
.project-name--color {
    color:  #4ccaf0;
}

.project-language{
    font-size: 0.8rem;
    text-align: right;
    margin: 0.5rem;
}
.projects-multipleLanguages {
    margin-left: 1rem;
}

.projects-description {
    font-size: 15px;
    font-family: 'Verdana';
    background-color: #edf6f9;
    color: black;
    padding: 15px;
    text-align: justify;
    /* font-style: italic; */
}

@media (max-width:370px) {
    .projects-header {
        font-size: 30px;
    }
}


/* special planetary css animation */
/* .projects-image--planetary {
    width: 250px;
    height: 250px;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    border-radius: 50%;
    background-image: url("/imgs/planet.jpg");
    background-size: cover;
    box-shadow: -25px -15px 60px 0.5px;
    animation: spin 20s linear infinite;
    margin-top:35px;
    margin-bottom: 15px;
}

@keyframes spin {
    100% {background-position:100%;}
} */





/* Eye animation in progress */

/* .projects-image--proportions {
    position:relative;
}
.eyes {
    width:6px;
    height:6px;
    background-color: #edf6f9;
    border-radius: 50%;
    position:absolute;
    left:192px;
    top: 67px;
    animation: blink 1s steps(1, end) infinite;
} */

/*@keyframes blink {
    0% {
      box-shadow: -20px -20px 50px 10px;
      background-color: #edf6f9;
    }
    50% {
        /* box-shadow: -20px -20px 20px 1px; */
        /* background-color: lightcoral;
    }
    100% {
        box-shadow: -20px -20px 50px 10px;
        background-color: #edf6f9;
    }
  }// */